<h2>Log In</h2>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<form action="/login" method="POST">
  <label>Email: </label>
  <input type="email" name="email">

  <br><br>

  <label>Password: </label>
  <input type="password" name="password">

  <br><br>

  <input type="submit" value="Login">

</form>
