<h2>Sign Up</h2>

<form action="/signup" method="POST">
  <label>Username: </label>
  <input type="text" name="username" required>

  <br><br>

  <label>Email: </label>
  <input type="text" name="email" required>

  <br><br>

  <label>Password: </label>
  <input type="password" name="password" required>

  <br><br>

  <input type="submit" value="submit">
</form>
