<h2>Add a Player</h2>
<% if flash.has?(:error) %>
  <%= flash[:error] %>
  <% elsif flash.has?(:message) %>
  <%= flash[:message] %>
  <br>

  <br/>
<% end %>

<form action="/players" method="POST">
  <label>Player Name:</label>
  <input type="text" name="name">
  <br>

  <br/>
  <label>Team:</label>
  <input type="text" name="team">
  <br>

  <br/>
  <label>Cost:</label>
  <input type="text" pattern="^\d+(?:\.\d{0,2})$" name="cost">
  <br>

  <br/>
  <label>Quantity</label>
  <input type="number" name="quantity" min="1" max="100">
  <br>

  <br/>
  <input type="submit" value="Add Player">
</form>
