<div class="container">
  <header><img src="images/fi2.png" width="280" height="120" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to the Football Index Player Tracker</h2>

    <div class="content">
      <p>Track progress of your shares on <a href="https://www.footballindex.co.uk">Football Index</a>
      <br></br>
      Not a member?  <a href="/signup">Create an account</a></p>

      <p>Already have an account? <a href="/login">Log In</a></p>

    </div>

  </div>
</div>
