<div class="container">
  <header><img src="images/fi.png" width="370" height="100" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to the Football Index Player Tracker</h2>

    <div class="content">
      <p>Want to take part? <a href="/signup">Create an account</a></p>

      <p>Already have an account? <a href="/login">Log In</a></p>

    </div>

  </div>
</div>
